*{
  font-family: 'Arimo', sans-serif;
  padding: 0;
  margin: 0;
}

input{
  background-color: transparent;
  border: none;
}

.buttonPDF{
  position: static;
  background-color: #2e6cf1;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bolder;
  color:#fff;
  margin-left: 1cm;
}

.buttonPDF:hover{
  background-color: #4D83F7;
  transform: scale(1.1);
}
#invoice{
  position: relative;
  width: 209mm;
  height: 296mm;
  padding: 0;
  margin: 0;
  background-image: url(/informe\ aa.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 12px;
}

/*================= Uso interno =================*/

.uso-interno{
  z-index: 10;
  position: absolute;
  height: .43cm;
  width: 2.2cm;
}

#fecha{
  top: 4.5cm;
  right: 5.45cm;
}

#hs-trabajo{
  top: 5.1cm;
  right: 5.45cm;
}

#tecnicos{
  top: 5.6cm;
  right: 5.45cm;
}

#fechafin{
  top: 4.5cm;
  right: .9cm;
}

#hs-viaje{
  top: 5.1cm;
  right: .9cm;
}

#obra{
  top: 5.6cm;
  right: .9cm;
}

/*================= Cliente/Sitio =================*/

#cliente{
  z-index: 10;
  top: 3.75cm;
  left: 3.75cm;
  position: absolute;
  height: .6cm;
  width: 3.5cm;
  background-color: transparent;
  font-size: 15px;
  border: none;
  text-transform: uppercase;
}

.razon{
  z-index: 10;
  position: absolute;
  font-size: 12px;
  top: 4.65cm;
  left: 3.7cm;
}

#social{
  left: 3.5cm;
  top: 4.7cm;
}

#direccion{
  top: 5.1cm;
  left: 2.8cm;
}

#te{
  left: 1.65cm;
  top: 5.55cm;
}

/*================= Equipo / Marca / Modelo / NºSerie =================*/

.equipo{
  z-index: 10;
  top: 7.1cm;
  position: absolute;
  height: .5cm;
  width: 3.5cm;
  background-color: transparent;
  font-size: 15px;
  text-transform: uppercase;
}

#equipo{
  left: 1.1cm;
}
#marca{
  left: 5.95cm;
}
#modelo{
  left: 10.7cm;
}
#serie{
  left: 15.5cm;
}

/*================= Compresores =================*/

/*= Consumo =*/
.consumo-caja{
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 9.19cm;
  left: 3.05cm;
  width: 15.55cm;
  font-size: 12px;
}

.consumo-caja1{
  width: 4.5cm;
  left: 3.1cm;
}

.consumo-caja2{
  width: 4.5cm;
  left: 8.8cm;
}

.consumo-caja3{
  width: 4.5cm;
  left: 14.4cm;
}

.r1{
  width: 1cm;
}

.r2{
  position: absolute;
  width: 1cm;
  left: 1.54cm;
}

.r3{
  position: absolute;
  width: 1cm;
  left: 3.2cm;
}

/*================= Firmas =================*/

.firmas{
  z-index: 20;
  position: absolute;
  width: 4cm;
  bottom: 2.2cm;
  left: 2.5cm;
}

#select{
  z-index: 25;
  position: absolute;
  bottom: -300px;
  left: 8cm;
}

